body, html {
	height: 100%;
}
#wrapper {
	min-height: 100%;
	margin-bottom: -100px;
	
}
 hr {
 	color: #c8c8c8;
 }
#profile_pic {
	width: 250px;
	height: 300px;
	padding-bottom: 15px;
}

#portfolio div a img {
	width: 250px;
	height: 200px;
}

.thumbnail:hover {
	background-color: #4b4b4b;
}

.thumbnail:hover .caption h2{
	color: white;
}

.thumbnail a {
	text-decoration: none;
}

.caption {
	text-align: center;
}

input {
	text-indent: 10px;
	width:100%;
	height: 30px;
	margin: 5px 25px 13px 0;
}

input[type="text"]:focus,
textarea:focus {
	box-shadow: 0px 0px 0px 3px rgba(255,0,13,0.49);;
}

input[placeholder] {
	text-indent: 10px;
}

input[name="submit"] {
	text-indent: 0px;
	text-align: center;
	color: white;
	border: hidden;
	background-color: #4aaaa5;
	width: 90px;
	height: 30px;
	margin-bottom: -15px;
}

textarea {
	width: 100%;
	max-width: 100%;
}

#sidepanel {
	margin-top: 30px;
}

.panel-heading h3{
	font-size: 20px;
}

.panel-body a img {
	width: 60px;
	height: 60px;
}

.panel-body a img:hover {
	border: 2px;
	border-style: solid;
	border-color: white;
}

#footer_bar {
	margin-top: 25px;
	background-color: #c8c8c8;
	height: 7px;
	width: 100%;
	clear: both;
}

#footer {
	text-align: center;
	clear: both;
	background-color: #c8c8c8;
	padding: 25px;
	color: #272b30;
}

